.footer {
  background-color: #1c2136; /* azul escuro como o da navbar */
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  margin-top: 1rem;
}

.footer-links a {
  color: #d4af37; /* dourado */
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}